ADMIN_SECRET=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
GITHUB_CLIENT_SECRET=
GOOGLE_CALENDAR_CLIENT_ID=
GOOGLE_CALENDAR_CLIENT_SECRET=
GOOGLE_CALENDAR_REDIRECT_URI=
JIRA_CLIENT_SECRET=
NOTION_CLIENT_SECRET=
OPENROUTER_API_KEY=
PEXELS_API_KEY=
RESEND_API_KEY=
STRIPE_PRICE_ID=
STRIPE_PRICE_ID_YEARLY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
